<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <img class="img-thumbnail" *ngIf="homeTeamDetails && homeTeamDetails.crestUrl" src={{homeTeamDetails.crestUrl}}/>
        </div>
        <div class="col-2">
        VS
        </div>
        <div class="col-5">
            <img class="img-thumbnail" *ngIf="awayTeamDetails && awayTeamDetails.crestUrl" src={{awayTeamDetails.crestUrl}}/>
        </div>
    </div>
    <div class="row">
        <div *ngIf="homeTeamDetails && homeTeamDetails.name" class="col-6">
            {{homeTeamDetails.name}}
        </div>
        <div *ngIf="awayTeamDetails && awayTeamDetails.name" class="col-6">
            {{awayTeamDetails.name}}        
        </div>
    </div>
</div>