
  <ul>
      <div class="row justify-content-center" *ngFor="let row of rows">
        <div class="col-md col-sm-1" *ngFor="let col of cols">
          <li><button (click)="onDayClick(((row - 1) * 19 + (col - 1)) + 1)" class="btn btn-primary">{{((row - 1) * 19 + (col - 1)) + 1}}</button></li>
        </div>
      </div>
    </ul>





<!-- BACKUP  
  <ul>
    <div class="row justify-content-center">
    
    <li class="col-1" [ngClass]="{lastInRow: day % 20 === 0}" *ngFor="let day of days"><button (click)="onDayClick(day)" class="btn btn-primary">{{day}}</button></li>
  
  </div>
  </ul>
-->