ul
{
    list-style: none;
}

li
{
    float: left;
}

@media only screen and (max-width:680px){
    li{
        float:left;       
        width: 4.5%;
        margin: 0.5px -2px;
        padding-top: 5px;
    }
    ul{
        padding: 0px 30px 40px 0px;
    }
}

@media only screen and (min-width:1200px){
    li{
        float:left;
        width: 4.5%;
        margin: 0.5px -27px;
        padding-top: 5px;
        }
    
        ul{
        padding: 0px 0px 40px 0px;
    }
}

button
{   
    width: 34px;
    height: 38px;
    padding: 0px;
    background-color: white;
    color: black;
    border:black;
}

button:hover{
    background-color:rgb(34, 138, 34);
}

