<div class="container">
  <div class="row justify-content-center" *ngFor="let match of matches; let i = index">
    <div class="col-sm-2 col-md-4"></div>
    <div class="col-sm-8 col-md-4 match-box clickable" > 
      <app-match *ngIf="teamDetails" [myMatch]="match" [homeTeamDetails]="teamDetails[match.homeTeam.id]" [awayTeamDetails]="teamDetails[match.awayTeam.id]"></app-match>
      <a (click)="onModalOpen(i)"><span></span></a>
    </div>
    <div class="col-sm-2 col-md-4"></div>
  </div>

  <div *ngIf="selectedMatch && selectedTeamsDetails" class="modal" id="matchDetailsModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{selectedMatch.homeTeam.name}} vs {{selectedMatch.awayTeam.name}}</h4>
          <button type="button" class="close" (click)="onModalClose()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <img class="img-thumbnail" src={{selectedTeamsDetails.homeTeam.crestUrl}}/>
            </div>
            <div class="col-6">
              <img class="img-thumbnail" src={{selectedTeamsDetails.awayTeam.crestUrl}}/>
            </div>
          </div>
          
          <div class="row">
            <div class="col-12">
              <h3 class="centred">Primo tempo:</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <h5 class="centred">{{selectedMatch.score.halfTime.homeTeam}}</h5>
            </div>
            <div class="col-2 centred">
              -
            </div>
            <div class="col-5">
              <h5 class="centred">{{selectedMatch.score.halfTime.awayTeam}}</h5>
            </div>
          </div>

          <div class="row">
              <div class="col-12">
                <h3 class="centred">Secondo tempo:</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <h5 class="centred">{{selectedMatch.score.fullTime.homeTeam}}</h5>
              </div>
              <div class="col-2 centred">
                  -
                </div>
              <div class="col-5">
                <h5 class="centred">{{selectedMatch.score.fullTime.awayTeam}}</h5>
              </div>
            </div>

          <div class="row">
            <div class="col-12">
              <h3 class="centred">Vincitore:</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h3 class="centred">{{selectedMatch.score.winner == "HOME_TEAM" ? selectedMatch.homeTeam.name : selectedMatch.awayTeam.name}}</h3>
            </div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="modalCloseButton" type="button" class="btn btn-danger" (click)="onModalClose()">Chiudi</button>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!---->