ul
{
    list-style-type: none;
}

.match-box
{
    padding: 15px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    opacity: 0.85;
    border-radius: 15px;
    box-sizing: border-box;
}

.clickable
{
    position: relative;
}

.clickable a span 
{ 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.clickable:hover 
{
   border: 1px solid green;
}

.clickable:active 
{
	background-color: #A9A;
}

.row{
    padding-bottom: 20px;
}

.modal {
    text-align: center;
    padding: 0!important;
  }
  
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }
  
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

.centred
  {
      text-align: center;
  }

#modalCloseButton
  {
      width: 80%;
      margin: auto;
  }

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
