@media only screen and (max-width:680px){
  .finlogo{
    width: 70px;
    height: 15px;
    display: block;
  }
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 15%;
    padding-bottom: 25px;
    padding-top: 20px;
}

#teamsNavbar
{
    margin-bottom: 25px;
    overflow: auto;
    white-space: nowrap;
    border-radius: 35px;
    background-color: white;
}

.navbar-toggler{
  border-color: white;
}
 

.nav-item{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }

.nav-item:hover{
    background-color: white;
}

ul
{
    list-style-type: none;
}

.modal {
    text-align: center;
    padding: 0!important;
  }
  
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }
  
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

.centred
  {
      text-align: center;
  }

#modalCloseButton
  {
      width: 80%;
      margin: auto;
  }

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.teamLogoContainer
{
  position: relative;
}

.teamLogo
{
  height: 50px;
}

.teamLogoSpan
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2{
    color: white;
    background-color: black;
    opacity: 0.99;
    border-radius: 10px;
}

footer{
  background-color: white;
}

.finlogo{
  width: 100px;
  height: 40px;
  padding-top:10px;
  padding-left: 25px;
  display: block;
}

