<div class="row">
  <div class="col-12">
    <img id="logo" src="https://upload.wikimedia.org/wikipedia/it/thumb/8/83/Serie_A_TIM_-_Logo_2018.svg/1200px-Serie_A_TIM_-_Logo_2018.svg.png"/>
  </div>
</div>

<div class="container">

<div class="row">
  <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light" id="teamsNavbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngFor="let team of teamsArray; let i = index" class="nav-item teamLogoContainer">
                <img class="img-fluid teamLogo" src={{team.crestUrl}}>
                <a href="#" (click)="onModalOpen(i)"><span class="teamLogoSpan"></span></a> 
            </li>
          </ul>
        </div>
      </nav>  
  </div>
</div>

  <div *ngIf="selectedTeamDetails" class="modal" id="teamDetailsModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{selectedTeamDetails.name}}</h4>
          <button type="button" class="close" (click)="onModalClose()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                  <img class="img-fluid" src={{selectedTeamDetails.crestUrl}}/>
                </div>
            </div>
          <div class="row">
              <div class="col-9">
                Club fondato nel {{selectedTeamDetails.founded}}
              </div>
              <div class="col-3">
              </div>
          </div>

          <div class="row">
              <div class="col-9">
                Stadio: {{selectedTeamDetails.venue}}
              </div>
              <div class="col-3">
              </div>
          </div>

          <div class="row">
              <div class="col-9">
                Colori della squadra: {{selectedTeamDetails.clubColors}}
              </div>
              <div class="col-3">
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                <h6>Active competitions:</h6>
              </div>
          </div>
          <div class="row" *ngFor="let competition of selectedTeamActiveCompetitions">
              <div class="col-12">
                {{competition.name}}
              </div>
          </div>

          <div class="row">
              <div class="col-12">
                <h6>Team:</h6>
              </div>
          </div>

          <div class="row">
              <div class="col-12" *ngFor="let player of selectedTeamPlayers">
                {{player.name}}, {{player.position}}
              </div>
          </div>

          <div class="row">
              <div class="col-12">
                  Per maggiori informazioni visita: 
                <a href="{{selectedTeamDetails.website}}" class="centred">{{selectedTeamDetails.website}}</a>
              </div>
            </div>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button id="modalCloseButton" type="button" class="btn btn-danger" (click)="onModalClose()">Chiudi</button>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- End of modal window -->
<div class="row">
    <div class="col-sm-1 col-md-3">

    </div>
    <div class="col-sm-10 col-md-6 centred">
      <h2>Giornate di Campionato</h2>
    </div>
    <div class="col-sm-1 col-md-3">

    </div>
</div>
<div class="row">
  <div class="col-12">
    <app-days-table (dayClickedEvent)="onDayClickedEvent($event)"></app-days-table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-matches-table [teamDetails]="teamsDetailsData"></app-matches-table>
  </div>
</div>

<footer>
<div class="row">
<div class="col-md-3 col-sm-2">
    <a href="http://ita.finconsgroup.com/">
      <img src="https://portalefornitori.finconsgroup.com/javax.faces.resource/logo_fincons.png.xhtml?ln=img" class="finlogo">
</a>
</div>
<div class="col-md-6 col-sm-8 centred">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href=#> ViaCrucis Dev. Team</a>
      </div> 
</div>
<div class="col-md-3 col-sm-2">
  
</div>
</div>
</footer>